
.DS_Store
SAMUW_rceiso_96km_30C_750m_3Dmphyfull.nc
3Dclouds.eps
lastsaturation.png
SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.nc
SAMUW_rceiso_cyclone_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_2km_3D.nc
SAMUW_rceiso_cyclone_3D.nc
.vscode

RH_pdf_SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.eps
*.eps
RH_pdf_SAMUW_rceiso_cyclone_m60hPad_3D
RH_pdf_SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D
rceiso_squall2_U10_H1000_2km_rceiso01_3D.nc
