
.DS_Store
SAMUW_rceiso_96km_30C_750m_3Dmphyfull.nc
3Dclouds.eps
lastsaturation.png
SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.nc
SAMUW_rceiso_cyclone_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_2km_3D.nc
SAMUW_rceiso_cyclone_3D.nc
.vscode
RH_pdf_SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.eps
*.eps
RH_pdf_SAMUW_rceiso_cyclone_m60hPad_3D
RH_pdf_SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D
rceiso_squall2_U10_H1000_2km_rceiso01_3D.nc
Figs/ProbsSuperposition.png
Figs/RH_pdf.png
Figs/zclouds_pdf.png
.ipynb_checkpoints/altitude_derniere_sat-checkpoint.ipynb
Figs/RHaProbsSuperposition.png
Figs/RHpProbsSuperposition.png
Figs/lastsaturationsubsidence.drawio
Figs/lastsaturationsubsidence.png
Figs/lastsaturation.drawio
Figs/lastsaturationsubsidence.svg
Figs/lastsaturation.svg
Figs/lastsaturation.drawio
Figs/problems.drawio
Figs/problems.svg
Figs/problems.png
Figs/lastsaturation.svg.png
Figs/lastsaturation.drawio
Figs/wenvz.png
Figs/zcloudsProbsSuperposition.png
Figs/zcloudsvsRHp.png
Fortran/wLS.f90
Figs/wLSz.png
Figs/wtotz.png
NetCDF/rceiso_moovie_rceiso01_3D_jour23.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour24.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour26.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour25.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour29.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour27.nc
__pycache__/adsfunc.cpython-38.pyc
NetCDF/rceiso_moovie_rceiso01_3D_jour30.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour31.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour32.nc
Figs2/wenvz.png
NetCDF/rceiso_moovie_rceiso01_64_jour23.nc
NetCDF/rceiso_moovie_rceiso01_64_jour24.nc
NetCDF/rceiso_moovie_rceiso01_64_jour32.nc
NetCDF/rceiso_moovie_rceiso01_64_jour31.nc
NetCDF/rceiso_moovie_rceiso01_64_jour30.nc
NetCDF/rceiso_moovie_rceiso01_64_jour28.nc
NetCDF/rceiso_moovie_rceiso01_64_jour29.nc
NetCDF/rceiso_moovie_rceiso01_64_jour27.nc
NetCDF/rceiso_moovie_rceiso01_64_jour26.nc
NetCDF/rceiso_moovie_rceiso01_64_jour25.nc
__pycache__/const_thermo.cpython-38.pyc
__pycache__/RH_Trop.cpython-38.pyc
Figs/zmax.drawio
Figs2/zmax.svg
.ipynb_checkpoints/RH_Trop-checkpoint.ipynb
Figs2/zmax.png
Figs2/zmax.drawio
Figs2/ztraj.png
Figs2/ztrajt.png
Figs2/All_Traj.png
Figs2/Discrete_traj.png
Figs2/zclouds_traj.png
Figs2/VaporMap.png
Figs2/RhvsRHovsRHp.png
Figs2/zcloudsvsRHp.png
Figs2/zcloudsvsRHpStatDyn.png
Figs3/All_Traj.png
Figs3/Discrete_traj.png
Figs3/wenvz.png
Figs3/RhvsRHovsRHp.png
Figs3/zclouds_traj.png
Figs3/zcloudsvsRHpStatDyn.png
Figs3/zcloudsvsRHp.png
Figs3/ztraj.png
Figs3/ztrajt.png

Figs4/ztrajt.png
Figs4/ztraj.png
Figs4/zcloudsvsRHpStatDyn.png
Figs4/All_Traj.png
Figs4/Discrete_traj.png
Figs4/RhvsRHovsRHp.png
Figs4/wenvz.png
Figs4/zclouds_traj.png
Figs4/zcloudsvsRHp.png
Figs5/ztrajt.png
Figs5/zcloudsvsRHpStatDyn.png
Figs5/ztraj.png
Figs5/zcloudsvsRHp.png
Figs5/zclouds_traj.png
Figs5/wenvz.png
Figs5/RhvsRHovsRHp.png
Figs5/Discrete_traj.png
Figs5/All_Traj.png
