.DS_Store
SAMUW_rceiso_96km_30C_750m_3Dmphyfull.nc
3Dclouds.eps
lastsaturation.png
SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.nc
SAMUW_rceiso_cyclone_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D.nc
SAMUW_rceiso_squall2_U10_H1000_2km_3D.nc
SAMUW_rceiso_cyclone_3D.nc
.vscode
RH_pdf_SAMUW_rceiso_96km_30C_750m_m60hPad_3Dmphyfull.eps
*.eps
RH_pdf_SAMUW_rceiso_cyclone_m60hPad_3D
RH_pdf_SAMUW_rceiso_squall2_U10_H1000_m60hPad_3D
rceiso_squall2_U10_H1000_2km_rceiso01_3D.nc
Figs/ProbsSuperposition.png
Figs/RH_pdf.png
Figs/zclouds_pdf.png
.ipynb_checkpoints/altitude_derniere_sat-checkpoint.ipynb
Figs/RHaProbsSuperposition.png
Figs/RHpProbsSuperposition.png
Figs/lastsaturationsubsidence.drawio
Figs/lastsaturationsubsidence.png
Figs/lastsaturation.drawio
Figs/lastsaturationsubsidence.svg
Figs/lastsaturation.svg
Figs/lastsaturation.drawio
Figs/problems.drawio
Figs/problems.svg
Figs/problems.png
Figs/lastsaturation.svg.png
Figs/lastsaturation.drawio
Figs/wenvz.png
Figs/zcloudsProbsSuperposition.png
Figs/zcloudsvsRHp.png
Fortran/wLS.f90
Figs/wLSz.png
Figs/wtotz.png
NetCDF/rceiso_moovie_rceiso01_3D_jour23.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour24.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour26.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour25.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour29.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour27.nc
__pycache__/adsfunc.cpython-38.pyc
NetCDF/rceiso_moovie_rceiso01_3D_jour30.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour31.nc
NetCDF/rceiso_moovie_rceiso01_3D_jour32.nc
Figs2/wenvz.png
NetCDF/rceiso_moovie_rceiso01_64_jour23.nc
NetCDF/rceiso_moovie_rceiso01_64_jour24.nc
NetCDF/rceiso_moovie_rceiso01_64_jour32.nc
NetCDF/rceiso_moovie_rceiso01_64_jour31.nc
NetCDF/rceiso_moovie_rceiso01_64_jour30.nc
NetCDF/rceiso_moovie_rceiso01_64_jour28.nc
NetCDF/rceiso_moovie_rceiso01_64_jour29.nc
NetCDF/rceiso_moovie_rceiso01_64_jour27.nc
NetCDF/rceiso_moovie_rceiso01_64_jour26.nc
NetCDF/rceiso_moovie_rceiso01_64_jour25.nc
__pycache__/const_thermo.cpython-38.pyc
__pycache__/RH_Trop.cpython-38.pyc
Figs/zmax.drawio
Figs2/zmax.svg
.ipynb_checkpoints/RH_Trop-checkpoint.ipynb
Figs2/zmax.png
Figs2/zmax.drawio
Figs2/ztraj.png
Figs2/ztrajt.png
Figs2/All_Traj.png
Figs2/Discrete_traj.png
Figs2/zclouds_traj.png
Figs2/VaporMap.png
Figs2/RhvsRHovsRHp.png
Figs2/zcloudsvsRHp.png
Figs2/zcloudsvsRHpStatDyn.png
Figs3/All_Traj.png
Figs3/Discrete_traj.png
Figs3/wenvz.png
Figs3/RhvsRHovsRHp.png
Figs3/zclouds_traj.png
Figs3/zcloudsvsRHpStatDyn.png
Figs3/zcloudsvsRHp.png
Figs3/ztraj.png
Figs3/ztrajt.png

Figs4/ztrajt.png
Figs4/ztraj.png
Figs4/zcloudsvsRHpStatDyn.png
Figs4/All_Traj.png
Figs4/Discrete_traj.png
Figs4/RhvsRHovsRHp.png
Figs4/wenvz.png
Figs4/zclouds_traj.png
Figs4/zcloudsvsRHp.png
Figs5/ztrajt.png
Figs5/zcloudsvsRHpStatDyn.png
Figs5/ztraj.png
Figs5/zcloudsvsRHp.png
Figs5/zclouds_traj.png
Figs5/wenvz.png
Figs5/RhvsRHovsRHp.png
Figs5/Discrete_traj.png
Figs5/All_Traj.png
Figs6/All_Traj.png
Figs6/Discrete_traj.png
Figs6/RhvsRHovsRHp.png
Figs6/wenvz.png
Figs6/zclouds_traj.png
Figs6/zcloudsvsRHp.png
Figs6/zcloudsvsRHpStatDyn.png
Figs6/ztraj.png
Figs6/ztrajt.png
Figs7/All_Traj.png
Figs7/Discrete_traj.png
Figs7/wenvz.png
Figs7/zclouds_traj.png
Figs7/ztraj.png
Figs7/ztrajt.png
Figs8/All_Traj.png
Figs8/Discrete_traj.png
Figs8/wenvz.png
Figs8/zclouds_traj.png
Figs8/ztraj.png
Figs8/ztrajt.png
Figs7/RhvsRHovsRHp.png
Figs7/zcloudsvsRHp.png
Figs7/zcloudsvsRHpStatDyn.png
RHarrays/RHp1_2.txt
RHarrays/RHp1_3.txt
RHarrays/RHp1_4.txt
RHarrays/RHp1_5.txt
RHarrays/RHp1_6.txt
RHarrays/RHp1_7.txt
RHarrays/RHp1_8.txt
RHarrays/RHp1_9.txt
RHarrays/RHp1_10.txt
RHarrays/RHp1.txt
RHarrays/RHp2_2.txt
RHarrays/RHp2_3.txt
RHarrays/RHp2_4.txt
RHarrays/RHp2_5.txt
RHarrays/RHp2_6.txt
RHarrays/RHp2_7.txt
RHarrays/RHp2_8.txt
RHarrays/RHp2_9.txt
RHarrays/RHp2_10.txt
RHarrays/RHp2.txt
RHarrays/RHp4_2.txt
RHarrays/RHp4_3.txt
RHarrays/RHp4_4.txt
RHarrays/RHp4_5.txt
RHarrays/RHp4_6.txt
RHarrays/RHp4_7.txt
RHarrays/RHp4_8.txt
RHarrays/RHp4_9.txt
RHarrays/RHp4_10.txt
RHarrays/RHp4.txt
RHarrays/RHp8_2.txt
RHarrays/RHp8_3.txt
RHarrays/RHp8_4.txt
RHarrays/RHp8_5.txt
RHarrays/RHp8_6.txt
RHarrays/RHp8_7.txt
RHarrays/RHp8_8.txt
RHarrays/RHp8_9.txt
RHarrays/RHp8_10.txt
RHarrays/RHp8.txt
RHarrays/RHp16_2.txt
RHarrays/RHp16_3.txt
RHarrays/RHp16_4.txt
RHarrays/RHp16_5.txt
RHarrays/RHp16_6.txt
RHarrays/RHp16_7.txt
RHarrays/RHp16_8.txt
RHarrays/RHp16_9.txt
RHarrays/RHp16_10.txt
RHarrays/RHp16.txt
RHarrays/RHp32_2.txt
RHarrays/RHp32_3.txt
RHarrays/RHp32_4.txt
RHarrays/RHp32_5.txt
RHarrays/RHp32_6.txt
RHarrays/RHp32_7.txt
RHarrays/RHp32_8.txt
RHarrays/RHp32_9.txt
RHarrays/RHp32_10.txt
RHarrays/RHp32.txt
RHarrays/RHp48_2.txt
RHarrays/RHp48_3.txt
RHarrays/RHp48_4.txt
RHarrays/RHp48_5.txt
RHarrays/RHp48_6.txt
RHarrays/RHp48_7.txt
RHarrays/RHp48_8.txt
RHarrays/RHp48_9.txt
RHarrays/RHp48_10.txt
RHarrays/RHp48.txt
Figs2/RHps.png
Figs2/wtotz.png
Figs2/wmu.png
Figs/RhvsRHp.png
Figs/lastsaturationsubsidencelight.png
Figs/lastsaturationsubsidencelight.drawio
Figs/lastsaturationlight.png
Figs/3Dclouds.png
*.nc
Figs2/meanRHvsDt.png
*.drawio
Figs3/wmu.png
Figs3/wtotz.png
Figs3/wLSz.png
*.png
RHarrays/RHp_dt10_1_2.txt
*.txt
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.xdv
*.npy
NetCDF/altitude_dernière_sat data/Archive.zip
NetCDF/altitude_dernière_sat data/SAMUW_rceiso_96km_30C_750m_3Dmphyfull.nc.zip
